:root {
  --blue: #017ec1;
  --white: #ffffff;
  --container: 1280px;
  --ps: 15px;
  --Gray-Gray-700: #2d3748;
  --Gray-Gray-400: #a0aec0;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/web-font/Montserrat-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/web-font/Montserrat-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/web-font/Montserrat-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/web-font/Montserrat-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/web-font/Montserrat-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/web-font/Montserrat-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/web-font/Montserrat-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/web-font/Montserrat-ExtraLightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/web-font/Montserrat-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/web-font/Montserrat-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/web-font/Montserrat-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/web-font/Montserrat-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/web-font/Montserrat-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/web-font/Montserrat-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/web-font/Montserrat-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/web-font/Montserrat-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/web-font/Montserrat-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/web-font/Montserrat-ThinItalic.ttf');
  font-weight: 100;
  font-style: italic;
}

body,
body * {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
body,
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  background-color: #2d3748;
}

.m4tContainer {
  max-width: 1295px;
  margin: 0 auto;
  padding: 0 14px;
  width: 100%;
  overflow-x: hidden;
}

.m4tRow {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  max-width: calc(100% + 40px);
  width: calc(100% + 40px);
}
.m4tRow > div {
  padding: 0 20px;
}
.m4tCol6 {
  width: 50%;
  flex: 0 0 50%;
}
.m4tCol12 {
  width: 100%;
  flex: 0 0 100%;
}
@media (max-width: 768px) {
  .m4tRow {
    gap: 24px;
  }
  .m4tCol6 {
    width: 100%;
    flex: 0 0 100%;
  }
}
